.footer {

	height: 15vh;
	width: 100vw;
	background: url('../../../public/img/fundo.png');
	background-size: 50vh;
	background-repeat: repeat;
	position: fixed;
	bottom: 0;
	font-family: 'Varela Round', sans-serif;
	box-sizing: border-box;

}

.footer__img__logo {

	height: 5vh;
	padding: 1vw;
	margin: 0;

}

.footer__img__descrição {

	padding: 1vw;
	color: #90929E;

}

.footer__assinatura {

	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;

}

.footer__assinatura__img {

	height: 4vh;
	padding: 1vw;

}

@media (min-width: 1024px){

	.footer {

		height: 8vh;
		display: flex;
		align-items: center;
		justify-content: center;

	}

}