.footer {

	height: 10vh;
	width: 100vw;
	background: url('../../../public/img/fundo.png');
	background-size: 50vh;
	background-repeat: repeat;
	position: fixed;
	bottom: 0;
	font-family: 'Varela Round', sans-serif;
	box-sizing: border-box;

}

.footer__img__logo {

	height: 4vh;
	margin: 0;

}

.footer__assinatura {

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 0;

}

.footer__assinatura__descricao {

	color: #90929E;

}

.footer__assinatura__img {

	height: 3vh;

}

@media (min-width: 1024px){

	.footer {

		height: 8vh;
		display: flex;
		align-items: center;
		justify-content: space-evenly;

	}

	.footer__assinatura__img {

		margin-left: 1rem;
		
	}

}