* {
	--preto-cizento: #282c34;
	--roxo: #6278F7;
	--cinza-claro: #F7F7F7;
	--cinza-claro-azulado: #e8f0fe;
}

body {
	background-color: var(--preto-cizento);
	font-family: 'JetBrains Mono', monospace;
	margin: 0;
	text-align: center;
}